.parentcontainer{
    all: unset;
    height: 1000px;
    background-color: tomato;

    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    /* align-items: flex-start; */
    justify-content:space-between;
    align-content: space-between;
    flex-shrink:0;

  
}

.parentcontainer >*{
    font-size: 40px;
    height: 75px;
    flex-basis: 100px;
    background-color:green;
    border: 2px solid black;
    
}p~span{
    color: tomato;
}
p+span{
    color: green;
}










